* {
  background-repeat: no-repeat;
}

body {
    max-width: 1080px;
    margin: 0 auto ;
    text-align: center;
  }

body * {
  border: 1px solid black;
}


/*=============== index.html ===================*/


.indexMain {
  width: 100%;
  height: 810px;
}

main .indexImg {
  background-image: url(../img/index_background2.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .indexButton {
  text-decoration: none;
}

main .indexImg p {
  margin-top: 300px;
  padding: 10px;
  width: 230px;
  border: 1px solid white;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-style: oblique;
  font-size: 1.6em;
}

main .indexImg p:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  width: 100%;
  background-color: #f1f2f2;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: .7em;
  /*height: 40px;*/
}

.footer ul {
  display: flex;;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 0;
}

.footer ul li {
  list-style: none;
  font-family: "Seattle Sans", sans-serif;
  font-size: 1em;
  color: black;
  letter-spacing: .4em;
  text-transform: uppercase;
}

.footer ul li:hover {
  color: #59d62b;
  font-weight: bold;
}

.footer ul a {
  text-decoration: none;
}


/*=============== recycle_this.html ============ */


header {
  display: flex;
  justify-content: space-between;
  background-color: #6d6e70;
  padding-top: 10px;
}

header .headerLogo {
  margin-left: 40px;
}

.header {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.header ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 0;
}

.header ul a {
  text-decoration: none;
}


.header ul li {
  list-style: none;
  font-family: "Seattle Sans", sans-serif;
  font-size: 1.4em;
  color: white;
  letter-spacing: .3em;
  margin-bottom: 0;
}

.header ul li:hover {
  color: #59d62b;
}


main .slogan {
  padding: .5em;
  background-color: #4b4b4c;
  font-family: "Seattle Sans", sans-serif;
  font-size: 1.6em;
  color: white;
  text-align: center;
  letter-spacing: .2em;
  margin-bottom: 0;
}

main .aboutRecycling {
  padding: 1em;
  background-color: #e3e4e5;
  display: flex;
  flex-wrap: wrap;
}

main .aboutRecycling p {
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  color: black;
  text-indent: 1.5em;
  text-align: justify;
  margin-bottom: 0;
}
