* {
  background-repeat: no-repeat;
  text-decoration: none;
}

body {
    max-width: 1080px;
    margin: 0 auto ;
    text-align: center;
  }

/*body * {
  border: 1px solid black;
}*/


/*=============== index.html ===================*/


.indexMain {
  width: 100%;
  height: 810px;
}

main .indexImg {
  background-image: url(../img/index_background2.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .indexButton {
  text-decoration: none;
}

main .indexImg p {
  margin-top: 300px;
  padding: 10px;
  width: 230px;
  border: 1px solid white;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
}

main .indexImg p:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  width: 100%;
  background-color: #f1f2f2;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: .7em;
  /*height: 40px;*/
}

.footer ul {
  display: flex;;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 0;
}

.footer ul li {
  list-style: none;
  font-family: "Teko", sans-serif;
  font-size: 1em;
  color: black;
  letter-spacing: .4em;
  text-transform: uppercase;
}

.footer ul li:hover {
  color: #59d62b;
  font-weight: bold;
}

.footer ul a {
  text-decoration: none;
}



/*=============== recycle_this.html ============ */


header {
  display: flex;
  justify-content: space-between;
  background-color: #989899;
  padding-top: 10px;
}

header .headerLogo {
  margin-left: 40px;
}

.header {
  width: 56%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.header ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}

.header ul a {
  text-decoration: none;
}

.header ul li.active {
  color: #59d62b;
  font-weight: bold;
}

.header ul li {
  list-style: none;
  font-family: "Teko", sans-serif;
  font-size: 1.4em;
  color: white;
  letter-spacing: .2em;
  margin-bottom: 0;
}

.header ul li:hover {
  color: #59d62b;
}


main .slogan {
  padding: .5em;
  background-color: #4b4b4c;
  font-family: "Verdana", sans-serif;
  font-size: 1.4em;
  color: white;
  text-align: center;
  letter-spacing: .2em;
  margin-bottom: 0;
}

main .aboutRecycling {
  padding: 1em;
  background-color: #e3e4e5;
  display: flex;
  flex-wrap: wrap;
}

main .aboutRecycling p {
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  color: black;
  text-indent: 1.5em;
  text-align: justify;
  margin-bottom: 0;
}

#mainSection {
  padding: 3em;
  background-color: #989899;
}

#mainSection .categoriesRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.categoriesRow .categoryOne,.categoryTwo {
  width: 10em;
  height: 10em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryOne {
  background-color: #f1f2f2;
}

.categoryTwo {
  background-color: #86d335;
}

.categoryOne:hover {
  border: 1px solid black;
}

.categoryTwo:hover {
  border: 1px solid black;
}

.categoryOne p, .categoryTwo p {
  margin-bottom: 0;
  color: black;
  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
}



/*================= about_us.html ================*/


article.aboutStudent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3em;
  /*flex-wrap: wrap;*/
}

.aboutStudent .studentInfo h3 {
  font-family: cursive;
  font-size: 2em;
  line-height: 1.5em;
}


.studentInfo p {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: justify;
  text-indent: 1.3em;
  padding: 0 1.5em 0 1.5em;
  margin-bottom: 20px;
}

.studentImage img {
  width: 40%
  margin-left: 1em;
}

.studentInfo .socialLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.studentInfo .socialLogo2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.studentInfo .socialLogo img, .socialLogo2 img {
  margin-right: 5px;
  width: 60%;
}

.studentInfo .socialLogo a, .socialLogo2 a {
  border: 0;
}

/*=============== inner_cat.html ===========*/

#mainInner {
  padding: 3em;
  background-color: #989899;
}

/*#mainInner * {
  border: 1px solid black;
}*/

#mainInner h1 {
  text-align: left;
  background-color: #f1f2f2;
  font-family: "Helvetica", sans-serif;
  padding-left: 10px;
  font-size: 3em;
  text-transform: uppercase;
  font-style: italic;

}

#mainInner li {
  background-color: #f1f2f2;
  margin-left: 2em;
  font-family: "Helvetica", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  text-align: left;
  list-style: none;
  padding-left: 10px;
}

#mainInner li:hover {
  background-color: #5bb94a;
  color: white;
  cursor: pointer;
}

#mainInner h2 {
  font-family: cursive;
  font-size: 3em;
}

#mainInner img {
  width: 25%;
  margin-bottom: 2em;
}

#mainInner .disposalText {
  font-family: "Vedrana", sans-serif;
  font-size: 2em;
  line-height: normal;
  padding: 0 5em 0 5em;
}
